---
import Layout from "../layouts/layout.astro";
import { PortableText } from "astro-portabletext";
import { getFaqSections } from "../sanity/lib/queries";
import LatexInline from "../components/latex-inline.astro";
import Latex from "../components/latex.astro";
import ReadMore from "../components/read-more";

const sections = await getFaqSections();
---

<Layout>
	<div class="faq">
		{
			sections.map((section) => (
				<section class="space-y-4 p-4 border-b">
					<h3 class="w-full text-2xl text-primary">{section.title}</h3>

					<div class="grid grid-cols-1 gap-4">
						{section.questions.map((question) => (
							<div class="space-y-2">
								<h4 class="text-foreground text-pretty">{question.question}</h4>
								<div class="text-sm space-y-2">
									<PortableText
										components={{
											type: {
												inlineMath: LatexInline,
												mathBlock: Latex,
											},
										}}
										value={question.answer.slice(0, 1)}
									/>
									<ReadMore client:load>
										<PortableText
											components={{
												type: {
													inlineMath: LatexInline,
													mathBlock: Latex,
												},
											}}
											value={question.answer.slice(1)}
										/>
									</ReadMore>
								</div>
							</div>
						))}
					</div>
				</section>
			))
		}
	</div>
</Layout>

<style></style>
