---
import Layout from "../layouts/layout.astro";
import { Image } from "astro:assets";
import render from "../assets/render.png";
---

<Layout>
	<Image class="object-cover h-full -z-10" src={render} alt="" />
	<div class="prose p-4 border-t">
		<h2
			class="text-primary text-5xl text-balance font-[Univers_LT_Std_53_Extended]"
		>
			Per Aspera Ad Astra.
		</h2>
		<p>
			We live during an ongoing revolution in the discovery of
			exoplanets–planets beyond our solar system–leaving many wondering what
			these worlds look like. Current propulsion technologies, such as chemical
			rockets and electric propulsion, are impractical to reach even the nearest
			exoplanets, and the size of a telescope that could image an exoplanet
			would be unrealistically large, exceeding the size of the earth. These two
			factors have stimulated interest in propulsion methods that have the
			potential to reach the stars.
		</p>

		<p>
			Our mission is to contribute to this international effort by designing,
			analyzing, and lab-testing alternative flight methods capable of achieving
			a significant fraction of the speed of light. Our group has a particular
			interest in directed energy propulsion like lightsails, intermediate steps
			toward this technology–such as laser-thermal propulsion–that would open
			our solar system, and propulsion methods that would exploit sources of
			energy freely available in space. Additionally, we are committed to
			engaging future students of science and engineering with these emerging
			technologies and connecting them to the international community of
			interstellar researchers, generating a stream of new minds aligned to
			realizing interstellar flight in this century.
		</p>

		<h2>Recent Publications</h2>
	</div>
</Layout>
