---
import Logo from "./logo.astro";
---

<div class="sticky top-0 z-10 border-b mb-0 border-border">
	<header
		class="flex flex-row justify-between items-center border-b mb-0 border-border p-2 h-header z-10 bg-background"
	>
		<Logo />

		<button
			class="mr-6 bg-neutral-800 border border-border p-1 px-2 h-min cursor-pointer hover:bg-neutral-700 hover:border-neutral-600 transition-colors duration-150"
			>Contact</button
		>
	</header>
	<nav class="p-2 w-full text-muted-foreground bg-background z-10 mb-0">
		<ul class="flex flex-row justify-center not-md:gap-4 nav-list">
			<li><a href="/">Home</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/publications">Publications</a></li>
			<li><a href="/people">People</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="websites">Other Websites</a></li>
		</ul>
	</nav>
</div>

<style>
	a {
		@apply hover:underline;
	}
	.nav-list li:not(:first-child)::before {
		content: "•";
		color: white; /* customize separator color */
		margin: 0 1rem;
	}
</style>
